.exercise01 {
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movies__container {
  background-color: #222222;
  padding: 1em;
  border-radius: .2em;
  width: 24em;
}
.movies__container-space{
  margin-right: 2em;
}
.movies__cart-total {
  margin-top: 1em;
  font-size: 1.25em;
}